{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "exclude": ["transform-classes"]
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ]
}
